@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}
a{
    text-decoration: none;
}
.container{
    max-width: 980px;
    margin: auto;
}
ul{
    list-style: none;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    gap: 20px;
}
nav a{
    color: black;
}
.logo{
    width: 100px;
}
header{
    padding: 50px 0;
}
.me{
    margin-right: auto;
    margin-left: 25px;
}
.bg1{
    background:url('https://i.ibb.co/zGSDGCL/slide1.png');
    height: 350px;
    background-size: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.btn{
    background: black;
    color: white;
    padding: 15px;
}
.w{
    width: 100%;
}
.sbox h4{
    padding: 20px 0;
    font-weight: bold;
    
}
.sbox a{
    color:blue;
    margin: 10px 0;
    display: block;
}
.gap{
    gap: 30px;
}
.services{
    padding: 30px 0;
}
.bg2{
    background:url('https://i.ibb.co/tBJGPD9/xbox.png');
    height: 250px;
    background-size: 100%;
    
}
.bg2-content{
    width: 300px;
    gap:2%;
}
.bg3{
    background:url('https://i.ibb.co/72cgtsz/carbon.jpg');
    height: 350px;
    background-size: 100%;
}
.social{
    padding: 20px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}
footer{
    background:#f2f2f2;
    padding: 20px 0;

}
footer li{
    line-height: 1.7;
    font-size: 13px;

}
.copyright{
    padding: 20px 0 0 0;
    font-size: 14px;
}
.sbox img {
    height: 200px;
    object-fit: cover;
}